Repository treastrain/JapanNFCReader_L10n, pull requests merged in 2020-10, with the labels that each got.

#2 英訳を更新します
  Strings/Acknowledgments.jsonc
  Strings/CardName.jsonc
  Strings/Cards+Octopus.jsonc
  Strings/Cards.jsonc
  Strings/Details+Octopus.jsonc
  Strings/Details+Transit.jsonc
  Strings/Details+UnivCoopICPrepaid.jsonc
  Strings/Details.jsonc
  Strings/FullScan.jsonc
  Strings/More.jsonc
  Strings/Purchase.jsonc
  Strings/Scan+Octopus.jsonc
  Strings/Scan.jsonc
  Strings/UserActivity.jsonc
  Strings/WKInterface.jsonc
  Strings/Welcome.jsonc
Labels: English, Strings

#3 Added translations for Acknowledgments.jsonc
  Strings/Acknowledgments.jsonc
Labels: Chinese, Strings

#4 Added and updated translations
  Strings/CardName.jsonc
  Strings/Cards+Octopus.jsonc
  Strings/Cards.jsonc
  Strings/Common.jsonc
  Strings/Details+Nanaco.jsonc
  Strings/Details+Octopus.jsonc
  Strings/Details+RakutenEdy.jsonc
  Strings/Details+Transit.jsonc
  Strings/Details+UnivCoopICPrepaid.jsonc
  Strings/Details+WAON.jsonc
  Strings/Details.jsonc
  Strings/More.jsonc
  Strings/Octopus.jsonc
  Strings/Purchase.jsonc
  Strings/Scan+Octopus.jsonc
  Strings/Scan.jsonc
  Strings/UserActivity.jsonc
  Strings/WKInterface.jsonc
  Strings/Welcome.jsonc
  Strings/WidgetsIntent.jsonc
Labels: Chinese, Strings

#7 Added and updated Chinese translations
  Strings/Acknowledgments.jsonc
  Strings/Details+Transit.jsonc
  Strings/Details.jsonc
  Strings/FullScan.jsonc
  Strings/Widgets.jsonc
Labels: Chinese, Strings

#9 Updated translations
  Strings/Acknowledgments.jsonc
  Strings/CardName.jsonc
  Strings/Cards.jsonc
Labels: Chinese, English, Strings

#11 Strings added in build 2020102201 later
  Strings/FullScan.jsonc
Labels: Add new items, Strings

#12 Updated translations
  Strings/CardName.jsonc
  Strings/Cards+Octopus.jsonc
  Strings/Cards.jsonc
  Strings/Common.jsonc
  Strings/Details+Nanaco.jsonc
  Strings/Details+Octopus.jsonc
  Strings/Details+RakutenEdy.jsonc
  Strings/Details+Transit.jsonc
  Strings/Details+WAON.jsonc
  Strings/Details.jsonc
  Strings/FullScan.jsonc
  Strings/Octopus.jsonc
  Strings/Scan.jsonc
Labels: Chinese, Strings

#13 V2.0 develop
  Strings/Scan.jsonc
  Strings/Widgets.jsonc
  Strings/WidgetsIntent.jsonc
Labels: Chinese, English, Strings

#14 Strings added in build 2020103001 later
  Strings/AppClip.jsonc
  Strings/Scan.jsonc
Labels: Add new items, Strings
